.about-text-container{
    color: white;
    width: 100%;
    height: auto;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 200;
    opacity: 0.8;
    padding: 10px;
    .about-text{
        margin-bottom: 10px;
    }
}